@charset "UTF-8";


.btn_img{
    max-width: 50px;
}
.mocchiri {
    width: 100%;
    animation: mocchiri 2s infinite;
}
@keyframes mocchiri{
    0% {    transform: scale(1, 0.8);}
    20% {   transform: scale(0.8, 1.1);}
    95% {   transform: scale(1, 1);}
    100% {  transform: scale(1, 0.8);}
}
